/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Russo+One&display=swap');

/* Variables CSS */
:root {
    --font1: "Russo One", sans-serif;
    --font2: 'Poppins', sans-serif;
    --fondo: #073b4c;
    --turquoise: #118ab2;
    --green: #06d6a0;
    --yellow: #ffd166;
    --deep-pink: #ef476f;
    --black: #0d0b0b;
    --white: #f1f1f1;
    --prueba:  #143243;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h2, h3, h4 {
    font-family: var(--font1);
    text-transform: uppercase;
}

h5 {
    font-family: var(--font2);
}

p, a {
    font-family: var(--font2);
}

body {
    background-color: var(--fondo);
    width: 100%;
    height: 100vh;
}
/* Container */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    width: 100%;
    height: 100%;
}

/* Card */
.card {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--prueba);
}

/* C7 */
.card-developer {
    grid-column: 1;
    grid-row: 1 / span 3;
    background-color: var(--yellow);
    font-size: clamp(16px, 1vw, 36px);
    line-height: 1em;
    padding: 1em;
    text-align: center;
}

.card-developer img {
  width: 150px;
  height: 150px;
  border-radius: 50% 50% 5% 50%;
  object-fit: cover;
  border: 5px solid var(--turquoise);
  padding: 10px;
  background-color: var(--white);
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, border-color 0.3s;
}

.card-developer img:hover {
  transform: scale(1.05);
  border-color: var(--dark-turquoise);
}

.card-developer h2 {
  font-size: .8rem;
  text-align: start;
}

/* C1 */
.card-developer__info {
    grid-column: 2 / span 2;
    grid-row: 1;
    background-color: var(--turquoise);
    font-size: clamp(16px, 1vw, 36px);
    line-height: 1em;
    padding: .5em;
}
.card-developer__info h2 {
    margin-bottom: 1em;
    font-size: 1.5rem;
}
/* C4 */
.card-developer__works {
    grid-column: 4;
    grid-row: 1 / span 6;
    background-color: var(--deep-pink);
    font-size: clamp(16px, 1vw, 36px);
    line-height: 1em;
    padding: 1em;
}

.card-works__exp {
    margin-top: 25px;
}

.card-exp__company {
    margin-bottom: 20px;
}

.card-exp__post p {
    margin-top: 25px;
}

/* C2 */
.card-developer__cv {
    grid-column: 2;
    grid-row: 2;
    background-color: var(--green);
    font-size: clamp(16px, 1vw, 36px);
    line-height: 1em;
    padding: 1em;
}

.card-developer__cv h3, h4 {
    margin-bottom: 20px;
}
/* C3 */
.card-developer__contact {
    grid-column: 3;
    grid-row: 2;
    background-color: var(--green);
    font-size: clamp(16px, 1vw, 36px);
    line-height: 1em;
    padding: 1em;
}

.card-developer__contact h3, h4 {
    margin-bottom: 20px;
}

/* C8 */
.card-developer__skills {
    grid-column: 1;
    grid-row: 4 / span 3;
    background-color: var(--yellow);
    font-size: clamp(16px, 1vw, 36px);
    line-height: 1em;
    padding: 1em;
}
/* C6 */
.card-developer__lang {
    grid-column: 2 / span 2;
    grid-row: 3;
    background-color: var(--white);
    font-size: clamp(16px, 1vw, 36px);
    line-height: 1em;
    padding: 1em;
}
/* C5 */
.card-developer__proj {
    grid-column: 2 / span 2;
    grid-row: 4 / span 3;
    background-color: var(--white);
    font-size: clamp(16px, 1vw, 36px);
    line-height: 1em;
    padding: 1em;
}

/* Responsive */
@media (min-width: 2560px) {
    
    .card-developer img {
        width: 300px;
        height: 300px;

    }


    .card-developer h2 {
        font-size: 1.5rem;
        text-align: start;
    }
}

@media (max-width: 768px) {

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 8px;
        width: 100%;
        height: 100%;
    }

    .card-developer {
        grid-column: 1;
        grid-row: 1;
    }

    .card-developer__info img {
        width: 250px;
        height: 250px;
        border-radius: 50% 50% 5% 50%;
        object-fit: cover;
        border: 5px solid var(--turquoise);
        padding: 10px;
        background-color: var(--white);
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, border-color 0.3s;
        padding-left: 50%;
    }

    .card-developer__info {
        grid-column: 1;
        grid-row: 2;
    }

    .card-developer__cv {
        grid-column: 1;
        grid-row: 3;
    }

    .card-developer__contact {
        grid-column: 1;
        grid-row: 4;
    }

    .card-developer__works {
        grid-column: 1;
        grid-row: 5;
    }

    .card-developer__lang {
        grid-column: 1;
        grid-row: 6;
    }

    .card-developer__skills {
        grid-column: 1;
        grid-row: 7;
    }

    .card-developer__proj {
        grid-column: 1;
        grid-row: 8;
    }
}